*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    /* font-family: Copperltbt; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav>h1{
    font-size: 28px;
    font-weight: 100;
}
#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #part2 a{
    text-decoration: none;
    color: #222;
    margin: 20px;

}
#nav #part2 a:nth-last-child(1){
    /* background-color:yellow; */
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
#nav #part2 a:nth-last-child(1) #green{
    width: 100%;
    height: 100%;
    background-color: rgba(45, 60, 53, 0.522);
    position: absolute;
    top: 0%;
    left: -100%;
    transition: left 0.4s ease;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;

}
#main>h1{
    font-size: 5.4vw;
    font-weight: 100;
    text-transform: capitalize;
    /* background-color: red; */
    width: 60%;
    text-align: center;
    z-index: 9;

}
#main>h1::after{
    content: "";
    position: absolute;
    width: 18%;
    height: 6px;
    /* background-color: rgb(36, 227, 166); */
    /* bottom: -5%; */
    background-size: cover;
    top: 60%;
    left: 50%;
    transform: translate(-50%,0);
}
#main>#img1{
    height: 420px;
    width: 290px;
    position: absolute;
    left: 6%;
    top: 20%;

}
#main>#img2{
    height: 260px;
    width: 240px;
    position: absolute;
    right: 19%;
    top: 19%;
}
#main>#img5{
    height: 200px;
    width: 220px;
    position: absolute;
    right: 9%;
    top: 65%;
}
#main img{
    transition: margin 0.4s ease;
}
#main img:hover{
    margin-top: -40px;
}
#img:hover{
    margin-top: -40px;
}
#page1{
    height: 60%;
    width: 100%;
    /* background-color: rgb(55, 55, 51); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#page1>h3{

    position: relative;
    /* color: #fff; */
    justify-content: center;
    font-family: "gilroy";
    font-weight: 100;
    margin-bottom: 20%;
}
#page1>h1{
   position: absolute;
    /* color: #fff; */
    align-items: center;
    font-family: "gilroy";
    font-size: 60px;
    font-weight: 100;
    /* margin-top: 5%; */
}
#page1>h5{
    /* color: #fff; */
    font-size: 15px;
    margin-top: 2vmax;
}
#page1>button{
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
    height: 10%;
    width: 8%;
    left: 10%;
    bottom: 6%;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: red;  */
    display: flex;  
}
.page2-1{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
}
.img1{
    position: relative;
    margin-top: 10%;
    height: 65%;
    width: 25%;
}
/* .img2{
    position: relative;
    height: 20%;
    width: 60%;
    margin-bottom: 44%;
    margin-left: 5%;
} */
.img3{
    position: relative;
    height: 85%;
    width: 70%;
    bottom: 40%;
    margin-left: 28%; 
}

.img4{
    height: 35%;
    width: 20%;
    position: relative;
    bottom: 80%;
    left: 3%;
}

.page2-2{
    height: 100%;
    width: 50%;
    overflow: hidden;
    /* background-color:green; */
}
.page2-2>h1{
    font-size: 4vmax;
    position: relative;
    left: 10%;
    top: 25%;
    font-weight: 100;
    font-family: "gilroy";
}
.page2-2>p{
    font-size: 20px;
    position: relative;
    left: 10%;
    top: 30%;
    font-weight: 100;
    font-family: "gilroy";
}
.page2-2>h5{
    position: relative;
    top: 40%;
    left: 20%;
    font-size: 18px;
    font-weight: 50;
}
.page2-2>img{
   position: relative;
    height: 60px;
    width: 60px;
    left: 10%;
    top: 33%;
    border-radius: 50%;
}
.page2-2>button{
    height: 5%;
    width: 20%;
    left: 32%;
    top: 27%;
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
}
.page3{
    height: 140%;
    width: 100%;
   flex-direction: column;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3>h1{
    font-size: 60px;
    color:#000;
    position: absolute;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10%; 
}
.page3-img1{
    height: 5%;
    width: 80%;
    /* background-color: green; */
    position: relative;
    display: flex;
    margin-top: 30%;
    justify-content: space-around;
}
.page3-img2{
    height: 5%;
    width: 80%;
    /* background-color:red; */
    position: relative;
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}
.page3-img3{
    height: 5%;
    width: 80%;
    /* background-color:rgb(17, 0, 255); */
    position: relative;
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}
.page3>h6{
    font-size: 15px;
    position: relative;
    top: 5%;

}
.page4{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    /* background-color: salmon; */
}
.page4-1{
    height: 60%;
    width: 40%;
    position: relative;
    margin-top: 10%;
    margin-left: 7%;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./digital5.jpg);
    /* background-color: green; */
}
.page4-1>h1{
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    margin-left: 10%;
}

.page4-2{
    height: 60%;
    width: 40%;
    position: relative;
    margin-top: 10%;
    margin-left: 5%;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1617239098289-ad0ee436361e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-color: rgb(128, 77, 0);
}
.page4-2>h1{
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-weight: 100;
    margin-left: 10%;

}
.page4-3{
    height: 10%;
    width: 30%;
    /* background-color: green; */
    position:absolute;
    margin-top: 42%;
    left: 40%;
    /* overflow: hidden; */
    }
.page4-3>img{
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: 28%;
}
.page4-3>h1{
    font-size: 25px;
    position: relative;
    bottom: 30%;
    left: 20%;
    font-weight: 100;
}
.page4-3>button{
    height: 50%;
    width: 30%;
    position: relative;
    left: 60%;
    bottom: 80%;
    font-weight: 100;
    border-radius: 8px;
    border:1px solid #000;

}


